:root {
  --primary: #00c889;
  --bg: #005037;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

/* Style kepala */

header {
  background-color: var(--bg);
  padding-top: 10px; /* Padding atas */
  padding-right: 10px; /* Padding kanan */
  padding-bottom: 10px; /* Padding bawah */
  padding-left: 10px; /* Padding kiri */
  text-align: center;
}

/* Style navigasi */

.navbar-dsans {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  align-items: baseline;
  background-color: var(--primary);
  padding: 1.4rem 7%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 10px;
}

/* Style logo nav */

.logo-dsans {
  color: var(--bg);
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  font-variant-position: super;
}

.logo-dsans:hover {
  font-size: 2.1rem;
  color: #ffffff;
}

.logo-dsans span {
  color: #fff;
}

.logo-dsans span:hover {
  font-size: 2.1rem;
  color: #e4e400;
}

.icon {
  color: #e4e400;
  padding-right: 50px;
  margin-right: 10px;
  
  
}
.icon a:hover {
  padding: 22px;
  color: var(--bg);
}
img {
  width: 100px; /* Ukuran logo */
  height: auto; /* Biarkan tinggi menyesuaikan */
  margin-right: 20px; /* Jarak antara logo dan tautan */
  position: relative; /* Atau position: absolute; atau position: fixed; */
  top: 50px; /* Posisi vertikal */
  left: 100px; /* Posisi horizontal */
}

.daftar-nav {
  background-color: var(--bg);
  color: #fff;
  padding: 1.5rem 7%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.daftar-nav a {
  color: #fff;
}

.daftar-nav a:hover {
  color: #e4e400;
}

.navbar-dsans .daftar-nav a :hover::after {
  transform: scaleX(0.5);
}

.daftar-nav {
  background-color: var(--bg);
}

.daftar-nav.active {
  right: 0;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #0ec19d;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  border-radius: 10px;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
  border-radius: 10px;
}

.navbar .search-form label {
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

nav a.active,
nav a:hover {
  background-color: #244d61;
  color: #fff;
  border-radius: 1rem;
  transition: all.3s ease-in-out;
}

.active {
  padding: 0.4rem 7rem;;
}

#click {
  display: none;
}


nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 1rem;
  padding: 0.4rem 1rem;
}

nav a.active,
nav a:hover {
  background-color: var(--primary);
  color: #fff;
  border-radius: 1rem;
  transition: all.3s ease-in-out;
}

#click {
  display: none;
}

.menu {
  display: none;
}

/* Nav */

section {
  margin: 2rem 8.5rem;
}

.main {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 1rem auto;
  background-color: #00c889;
  border-radius: 10px;
  border-style: groove;
  

}

.main h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px;
  color: #005037;
  text-shadow: #e4e400;
}

.main p {
  color: #000000;
  margin-top: 0.3rem;
  font-size: 1.4rem;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 400;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.5rem;
  padding-left: 30px;
  padding-bottom: 10px;
  
}

.social a {
  color: var(--bg);
  font-size: 1rem;
  border: 1.6px solid #ffffff;
  border-radius: 50%;
  padding: 0.35rem;
  text-align: center;
  width: 26px;
}

.social a:hover {
  color: #000000;
  background-color: #00ff8c;
  transition: all 0.3s ease-in-out;
}

.main h1 span:nth-child(1) {
  font-size: 1.5rem;
}

.images {
  background-image: url(/img/graph3.png);
  background-repeat: no-repeat;
  background-position: 0 -75px;
}

@media only screen and (max-width: 480px) {
  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #244d61;
  }

  header {
    padding: 0.7rem 1rem;
    align-items: center;
    max-width: 100%;
  }

  nav {
    position: absolute;
    display: grid;
    top: 75px;
    width: calc(100% - 40px);
    text-align: center;
    background-color: #fff;
    left: -100%;
  }

  #click:checked ~ nav {
    left: 0%;
    transition: all 0.3s ease;
  }

  section {
    margin: 1rem 1.5rem;
  }
}
/*jkjwa*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
